# Віртуальне середовище (твоя папка з бібліотеками)
.venv/
venv/
env/

# Кеш Python (щоб не було файлів .pyc)
__pycache__/
*.pyc

# Файли збірки EXE (вони створюються при компіляції)
build/
dist/
*.spec

# Логи та тимчасові файли
*.log
MY_IP.txt

# Налаштування редактора VS Code
.vscode/
.idea/